.App {
  text-align: center;
}


.App-link {
  color: darkblue;
}
.logo-wo{
  width: 145px;
    height: 28px;
}
.navbar {
  background-color: #232323;
}
.search::before{
  font-family: FontAwesome;
    content: " \f002";
    color: #eeeef3;
    display: flex;
    font-weight: 900;
    margin-top: 10px;
      
}
.search::after{
  color: red;
  
}

.input-search::before{
  display: none;
}
.input-search::after{
  color: blue;
  display: flex;
}
.btn-bd-download {
  color: white !important;
  padding-left: 164px;
}
.hero{
  background: rgb(108,112,131);
background: linear-gradient(280deg, rgba(108,112,131,1) 9%, rgba(48,50,57,0.9178046218487395) 39%, rgba(38,38,43,0.9430147058823529) 63%, rgba(34,33,38,1) 94%);
 height: 321px;
width: 100%;
}
.font-25{
  text-align: left;
  padding: 15px;
  color: rgba(255,255,255,.8);
  font-size: 35px;
  padding-bottom: 0;
  font-weight: bold;
}
.font-30{
  text-align: left;
    padding-left: 10px;
    color: white;
    font-size: 55px;
    font-weight: bold;
    line-height: 64px;
}
.plan{
  color: white;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}
.maind{
  background-color: white;
  position: relative;
  top: -100px;

}

.border-main{
  border-top: solid 1px #d3eafe;
  margin-right: 15px;
    margin-left: 23px;
    text-align: left;
}
.img-phone{
  width: 100px;
  padding-top: 20px;
}
.border-rigth{
  border-right: solid 1px #d3eafe;
}
.navbar-top{
  border-bottom: white solid 1px;
  position: sticky;
  top: 0;
  z-index: 3;
}
.inputColor{
  height: 34px;
    border-color: #bfe1fe;
    color: #289cfb;
}
.font-bold{
  font-size: 21px;
  font-weight: 900;
}
.font-blue{
  font-size: 20px;
    color: #41aafc;
    line-height: 20px;
}
.border-bottom{
  border-bottom: solid 1px #d3eafe;
    text-align: right;
    padding: 20px;
}
.btn-primari{
  width: 130px;
    height: 45px;
    background-color: #289cfb;
    border-color: #289cfb;
    color: white;
}
.btn-primari:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0e6ce6;
}
.main-right{
  background-color: #efefef;
  padding: 23px;
    font-size: 13px;
}
.list-right{
  text-align: left;
}
.item {
  border: solid 1px;
  height: 12px;
  width: 12px;
  padding: 10px;
  margin: 6px;
}

.font-size-14{
  font-size: 14px;
  font-family: Arimo,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.fa-plus{
  position: absolute;
  top: 90px;
  left: 66px;
  font-size: 84px;
  color: #ff000000;
}
.fa-plus:hover{
  
  color: red;
}


.example-thumb{
  width: 35px;
  height: 35px;
  background: rgb(40,156,251);
background: radial-gradient(circle, rgba(40,156,251,1) 0%, rgba(40,156,251,1) 50%, rgba(19,126,214,1) 76%, rgba(10,116,213,1) 92%);
  border: solid white 4px;
  border-radius: 50px;
  box-shadow: 0px 0px 1px black;
  
}


.example-track{
  bottom: 0;
  background: rgb(224,240,254);
  background: linear-gradient(0deg, rgb(210, 234, 255) 13%, rgba(237,246,255,1) 50%, rgb(199, 229, 255) 85%);
  border-radius: 2px;
  height: 16px;
  top: 10px;

}
.example-track-0{
  position: absolute;
    left: 0px;
    right: 165px;
    background: #289cfb;
}
a {
  
  text-decoration: none;
  background-color: transparent;

 
}
a:hover {
  color: #57595a;
  text-decoration: none;
}
.horizontal-slider{
  width: 100%;
    height: 25px;
}
.SectionFotter{
  background-color: #232323;
  height: 500px;
  width: 100%;
}

.ColorHeader{
  background-color: #acdafd;
  height: 500px;
  width: 100%;
  background-image: url(/static/media/map.17f294a2.png);
  background-position: center;
  background-size: 65%;
}
.plan {
  padding-top: 12px;
  color: #8e8989;
  text-decoration: none;
}
.plan:hover{
  padding-top: 12px;
  color: white;
  text-decoration: none;
}
